<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="/css/login.css" >
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <title>Lista wizyt</title>
</head>

<body>
<div th:insert="menu.html :: nav"></div>

<div class="container">

    <h3>Moje Wizyty</h3>

    <table class="table table-sm">
        <thead class="table-warning">
        <tr>
            <td>Data</td>
            <td>Godz rozpoczęcia</td>
            <td>Samochód</td>
            <td>Rodzaj naprawy</td>
            <td>Czas trwania</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="visit : ${visits}">
            <td th:text="${visit.visitDate}"></td>
            <td th:text="${visit.visitTime}"></td>
            <td th:text="${visit.car.markCar} + ' ' + ${visit.car.modelCar}"></td>
            <td th:text="${visit.repair.fault}"></td>
            <td th:text="${visit.repair.repairTime}"></td>
        </tr>
        </tbody>
    </table>

    <div sec:authorize="hasAuthority('ADMIN')" class="form-inline">
        <div class="form-inline">
            <h2 class="btn-space">Wizyty na dzień: </h2>

            <form th:action="@{/user/visit/visitList(date=${date})}">

                <div class="input-group">
                    <button type="button" id="toggleDatePicker" class="input-group-text"><i class="fa fa-calendar-alt"></i></button>

                    <input type="text" name="date" id="datePicker" class="form-controll btn-space"
                           th:value="${param.date}" required="required">
                </div>

                <button type="submit" class="btn btn-info btn-space">Sprawdź</button>
            </form>
        </div>

        <table class="table table-sm">
            <thead class="table-warning">
            <tr>
                <td>Godzina</td>
                <td>Samochód</td>
                <td>Imię i nazwisko</td>
                <td>Rodzaj naprawy</td>
                <td>Czas trwania</td>
            </tr>
            </thead>
            <tbody>

            <tr th:each="visit : ${visitsByDate}">

                <td th:text="${visit.visitTime}"></td>
                <td th:text="${visit.car.markCar} + ' ' + ${visit.car.modelCar} + ' ' + ${visit.car.year}+'r.'
                 + ' ' + ${visit.car.engineType}"></td>
                <td th:text="${visit.user.userData.firstName} + ' ' + ${visit.user.userData.secondName}"></td>
                <td th:text="${visit.repair.fault}"></td>
                <td th:text="${visit.repair.repairTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js" integrity="sha512-eUQ9hGdLjBjY3F41CScH3UX+4JDSI9zXeroz7hJ+RteoCaY+GP/LDoM8AO+Pt+DRFw3nXqsjh9Zsts8hnYv8/A==" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/jquery.datetimepicker.full.min.js"></script>
<script>
    $.datetimepicker.setLocale('pl');
    var date = new Date();
    var formattedDate = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
	$('#datePicker').datetimepicker({
		timepicker: false,
		datePicker: true,
		format: 'd-m-Y',
		value: formattedDate,
		mask: true

	})
	$('#toggleDatePicker').on('click', function(){
		$('#datePicker').focus()
	})
</script>
</body>
</html>