<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Car List</title>
</head>

<body>
<div class="container">

    <div th:insert="menu.html :: nav"></div>

    <h3><b>Lista samochodów</b></h3>
    <hr>
    <a th:href="@{/cars/newCar}"
       class="btn btn-primary btn-sm mb-3">
        Dodaj Samochód
    </a>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <td>Marka</td>
            <td>Model</td>
            <td>Rocznik</td>
            <td>Rodzaj silnika</td>
        </tr>
        </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.markCar}"></td>
        <td th:text="${car.modelCar}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.engineType}"></td>
        <td>
            <!-- update button -->
            <a th:href="@{/cars/editCar(id=${car.idCar})}"
               class="btn btn-info btn-sm">
                Edytuj
            </a>

            <!-- delete button -->
            <a th:href="@{/cars/delete(idCar=${car.idCar})}"
               class="btn btn-danger btn-sm"
               onclick="if (!(confirm('Jesteś pewny/a że chcesz usunąć?'))) return false">
                Usuń
            </a>

        </td>
    </tr>

    </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>