

<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" th:href="@{/}">
        <img src="/images/logo.png" style="width:140px;">
        CarRepair
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/repairsList}">Cennik</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto flex-nowrap" sec:authorize="!isAuthenticated()">
            <li class="nav-item">
                <a href="/sign_up" class="nav-link">Rejestracja</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link">Zaloguj</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto flex-nowrap" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a th:href="@{/user/repairsList}" class="nav-link">Zaplanuj wizytę</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" sec:authentication="name">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/user/userPanel}" >Panel Użytkownika</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/cars/list}">Lista Aut</a>
                    <a class="dropdown-item" th:href="@{/cars/newCar}">Dodaj Samochód</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/user/repairsList}">Zaplanuj wizytę</a>
                    <a class="dropdown-item" th:href="@{/user/visit/visitList}">Moje Wizyty</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">wyloguj</a>

                </div>
            </li>
        </ul>
    </div>
</nav>
